@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@300;400;500;700&display=swap');
@import 'vars';

html {
  background: $primaryBG;
}

.app {
  font-family: $contentfont;
  background: $primaryBG;
  color: #000;
  padding: 50px 0;
}

h1 {
  font-family: $h1font;
  font-size: 4rem;
  text-align: center;
}

.showId {
  font-size: 0.5rem;
}

// Local variables
$borders: 1px solid #707070;

.wrapper {
  padding: 0 20px;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 5fr 3fr 4fr;

  div {
    padding: 10px 20px;
    background: $secondaryBG;
    border-radius: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .header {
    background: $secondaryBG;
    border: 1px solid #707070;
    font-weight: 800;
  }

  .footer {
    background: #c4c4c4;
    border: 1px solid black;
    text-align: center;
    font-weight: 800;
  }

  button[type='button'] {
    width: 60px;
    padding: 10px 10px;
    background: $secondaryBG;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    text-align: center;
  }
}

form {
  padding: 20px 20px;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 5fr 3fr 4fr;


  input {
    // width: 100% !important;
    padding: 10px 0;
    background: $secondaryBG;
    border: $borders;
    border-radius: 25px;
    outline: none;
    text-align: center;
    &:focus {
      border-color: #000;
    }
  }

  button[type='submit'] {
    width: 60px;
    padding: 10px 10px;
    background: $secondaryBG;
    border: $borders;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-weight: 700;
    &:focus {
      border-color: #000;
    }
  }
}

.first {
  grid-column: 1/2;
}
.second {
  grid-column: 2/3;
}
.third {
  grid-column: 3/4;
}
.fourth {
  grid-column: 4/5;
}
